
.cards {
    text-align: center;
    padding-bottom: 5rem;
    background: #ffffff;
}

.cards h1 {
    color: black !important;
    text-transform: uppercase;
}
img{
    max-width: 100%;
}


.cards__item__link {
    display: flex;
    flex-flow: column;
    width: 100%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

