body {
    height: 100vh;
    background-image: url('../../images/verctbg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.list-group a:hover{
    background-color:var(--color-menu-hover);
    color : var(--color-font-hover);
    cursor: pointer;
    border-radius: 5px;
}
.list-group a{
    color : var(--color-font);
    background-color: transparent;
}

.class1{
    background-color: var(--color-menu);
    opacity: 4;
    margin: 1%;
    border-radius: 10px;
    height: 96% !important;
    box-shadow: 0.7px 0.3px 2px rgba(53,239,239, 0.8);
}
.class2{
    background-color: transparent;
    opacity: 5;
}

/*-----------------------sidelist-groupbar precedent---------------------*/

/*.sidebar__top img{*/
/*    font-weight: 10 !important;*/
/*    font-size: 10px;*/
/*}*/
.sidebar__top {
    text-align: center;
    margin-left: 11px;
   /*color:var(--primary-blue);*/
}

/*-------------------------Vehicules -----------------------------*/

.camion div{
    font-family: "Roboto Condensed", cursive;
}

.camion{
    opacity: 3;
    border-radius: 7px;
    background-color: #ffffff;

}
.vehicules Button{
    color:var(--color-degrade3-1);
    margin-top: 30px;
    background-color:var(--color-degrade3-6);
    border-radius: 7px;
    font-family: "Roboto Condensed", cursive;
    margin-left: 410px;
}
.vehicules Button:hover{
    background-color: #00FFF0;
    color:var(--color-degrade3-1);
}
.brand-name{
    color: var(--color-font)
}

/*----------------------img------------------------*/
.img1{

 height: 23px;

}
.img2{
    margin-top: 10px;
    margin-right: 8px;
    height: 40px;
}

.form-check input{
background-color: #00FFF0 !important;
    color: #00FFF0!important;
}

.table td ,th{
    text-align: center;
}

.camion-1{
    background-color:var(--color-degrade3-1);
    color :var(--color-font-2);
    border-radius: 10px;

}

.camion-1 i{
    color:var(--color-cercle-small);
}

